@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: MonumentBold;
  src: url("./fonts/PPMonumentExtended-Black.otf");
}
@font-face {
  font-family: MonumentLight;
  src: url("./fonts/PPMonumentExtended-Light.otf");
}
@font-face {
  font-family: MonumentRegular;
  src: url("./fonts/PPMonumentExtended-Regular.otf");
}

:root {
  font-family: MonumentBold, MonumentLight, MonumentRegular;
  line-height: 1.5;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

